.backdrop{
    position: absolute;
    width: 100vw;
    height:100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.05);
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: fit-content;
    width: 100%;
    background: var(--front);
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container h2{
    margin-bottom: 25px;
}

.form-container form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-container .buttons{
    align-self: center;
    display: flex;
    gap:30px
}

.form-container .auth-title,
.form-container h5,
.form-container input,
.form-container svg {
    color: var(--text-icon)
}

.form-container h5,
.form-container svg {
    cursor: pointer;
    user-select: none;
}

.form-container h5 {
    margin-top: 15px;
}

.form-container .auth-title {
    margin-bottom: 15px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}


.auth-form input {
    background: var(--form-input);
    padding: 5px;
    border-radius: 3px;
    width: 200px;
}

.auth-form button {
    font-size: 15px;
    width: 50%;
    margin-bottom: 0;
}

.auth-form svg {
    position: absolute;
    bottom: 27px;
    left: 30px;
}

.pass {
    margin-bottom: 10px;
}

.form-container #user-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
}

.form-container #user-form #name{
    padding: 10px;
    width: 220px;
    border-radius: 5px;
}

.form-container #user-form #tipo{
    margin-bottom: 30px;

}

.form-container #user-form button {
    padding: 8px;
}