#back-arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    height: 36px;
    width: 36px;
    z-index: 1;
    transition: 0.2s ease;
    cursor: pointer;
}

#back-arrow:hover {
    height: 72px;
    width: 50px;
}

.list-container {
    max-width: 850px;
    width: 100%;
    max-height: 600px;
    background: var(--front);
    border-radius: 10px;
    padding: 40px 30px 10px 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
    margin-top: 50px;
    transition: 0.5s ease-in-out;
}

.list-container h1 {
    font-weight: normal;
    margin-bottom: 15px;
    text-align: center;
}

.list-title-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
}

.list-title {
    margin-bottom: 10px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters input {
    text-align: center;
    height: 30px;
    max-width: 150px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.filters label {
    cursor: pointer;
}

.filters div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.item-list {
    overflow-y: auto;
}

.item-notification {
    position: relative;
}

.item {
    width: 100%;
    max-height: 100px;
    background: var(--form-input);
    border-radius: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    margin-bottom: 30px;
    transition: 0.2s ease;
    cursor: pointer;
}

.item:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 1);
}

.item img {
    padding: 5px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.item .foto{
    height: 80px;
}

.user-info{
    display: flex;
    gap: 50px;
}

.reservation{
    cursor: initial;
}

.reservation:hover {
    background: var(--form-input);
    box-shadow: none;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.availability {
    display: flex;
    align-items: center;
}

.availability svg {
    fill: var(--text-icon);
    width: 16px;
}

.availability p {
    font-size: 12px;
    text-align: left;
    margin-right: 10px;
}

.item hr {
    rotate: 90deg;
    height: 1px;
    background: var(--text-icon);
    width: 50px;
    border-radius: 1px;
}

.recursos {
    display: flex;
    align-items: center;
}

.extra svg {
    height: 30px;
    width: 30px;
}

.opcoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.opcoes svg{
    height: 24px;
    width: 24px;
    transition: 0.2s ease;
    cursor: pointer;
}

.opcoes svg:hover{
    opacity: 0.5;
}

.opcoes svg:active{
    opacity: 1;
}

.no svg,
.cancel svg{
    height: 24px;
    fill: var(--cancel);
}

.user-info{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-right: 30px;
}